h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Bai Jamjuree", sans-serif;
}

.titular {
  font-weight: 600;
  color: #4f5459;
}

.color-text-to-docs {
  color: #6173ff;
}

.text-to-body {
  line-height: 1.5;
  letter-spacing: 1.6;
  font-size: 18px;
  color: #9fabb2;
}

#hero {
  background-image: url("../images/bg-header-desktop.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
}

.button-primary {
  color: #fff;
  background-color: #26baa4;
  padding: 10px 34px;
  border-radius: 20px;
  font-size: 18px;
  border-color: #26baa4;
  font-weight: 600;
}

.button-secondary {
  color: #fff;
  background-color: #6173ff;
  padding: 10px 34px;
  border-radius: 20px;
  font-size: 18px;
  border-color: #6173ff;
  font-weight: 600;
}

.button-primary:hover,
.button-secondary:hover {
  opacity: 0.7;
}

#two {
  padding-bottom: 90px;
}

.enlaces {
  color: #4f5459;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 18px;
}

.enlaces:hover {
  color: #26baa4;
}

footer {
  padding: 60px 0;
  background-color: #f5f6f8;
}

a.social svg path:hover {
  fill: #26baa4;
}

@media (max-width: 768px) {
  #hero {
    background-image: url("../images/bg-header-mobile.png");
    background-position: top;
    background-repeat: no-repeat;
  }
  .button-primary,
  .button-secondary {
    font-size: 17px;
    padding: 10px 70px;
  }

  .text-to-body {
    font-size: 17px;
  }
}
